CompileFlags:
  Add:
    - -isystemc:\Users\HLlll\AppData\Local\Keil_v5\ARM\ARMCLANG/include
    - -isystemc:\Users\HLlll\AppData\Local\Keil_v5\ARM\ARMCLANG/include/libcxx
  Remove: []
  CompilationDatabase: ./build/ZLLC_2026
  Compiler: c:\Users\HLlll\AppData\Local\Keil_v5\ARM\ARMCLANG\bin\armclang.exe
